.container-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 20%;

    .paper-head{
        position: relative;
        grid-row: 1/2;
        text-align: center;
        background-color: #3C5FB3;

        .title{
            font-size: 1rem;
            color: #fff;
        }

        .icon-delete{
            position: absolute;
            top: 5px;
            right: 5px;
            color: rgb(30, 56, 117);
            transition: color .2s;

            &:hover{
                color:#ffffffee;
                cursor: pointer;
            }
        }
    }

    .paper-body{
        grid-row: 2/3;
        padding: .5rem 1rem;

        .txt-secondary{
            color: #a5a3a3;
        }

        p{
            font-size: .8rem;
        }
    }

    .paper-footer{
        background-color:#B3C9FF;
        display: flex;
        position: relative;
        justify-content: center;
        height: 100%;
        width: 100%;

        i{
            position: absolute;
            align-self: center;
            color: #fff;
            font-size: 1.7rem;
            text-shadow: 0 0 5px #000;
        }
    }
}