.container-form{
    grid-column: 1/2;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;

    .card{
        width: 90%;
        height: 90%;
        margin: auto;
        box-shadow: 0 0 5px #b6b5b5;

        &-content{
            height: 100%;
            display: grid;
            grid-template-rows: 20% 1fr;
        }
    }

    .form-wrapper{
        grid-row: 2/3;
 
        .wrapper-content{
            width: 100% !important;
            
            .text-field-form{
                margin: 1rem;
            }
        }
    }

    .wrapper-emojis{
        padding: 1rem 2rem;

        .grid-emojis{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 1fr;
            grid-auto-columns: 1fr;
        }
    }
}