#dictionary{
    width: 30%;
    height: auto;

    #word{
        animation: move-world 15s infinite alternate ease-in;
        transform-origin: center;
        transform-box: fill-box;
    }

    #England-flat,
    #Japan-flat,
    #Germany-flat{
        transform-origin: center;
        transform-box: fill-box;
    }
 
    #England-flat{
        animation: move-flat 5s infinite alternate ease-in;
    }

    #Japan-flat{
        animation: move-flat 5s 3s infinite alternate ease-in;
    }

    #Germany-flat{
        animation: move-flat 5s 6s infinite alternate ease-in;
    }
    
}

@keyframes move-world{
    from{
        transform: rotateZ(0deg);

    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes move-flat{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-12rem);
    }
}