@font-face{
    font-family: "my-family";
    src: url('../../assets/fonts/Chewy-Regular.ttf');
}

.container-list-notes{
    padding: 2rem 2rem;
    grid-column: 2/3;
    // Display setup 
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;

    & .title{
        grid-row: 1/2;
        text-align: center;
        border-left: 1px solid #cacaca;

        & h2{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    .container-notes{
        grid-row: 2/3;
        padding: 2rem 3rem;
        border-left: 1px solid #cacaca;
        // Display setup 
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }

    .my-title-empty{
        font-family: 'my-family';
        text-align: center;
        margin-top: 12rem;
        text-shadow: 0 0 50px #1f8a73;  
    }
}